# Renomeie este arquivo para .env.local (para testes) ou defina essas variáveis na plataforma de deploy (Vercel, Netlify)
VITE_API_URL=https://sua-api-unificada-online.com/api
VITE_DELIVERY_API_URL=https://sua-api-unificada-online.com/api/delivery
